@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
  }

  html::-webkit-scrollbar {
    width: 8px;
  }

  html::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);
  }

  html::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 4px;
  }
  
  html::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover);
  }

  :root {
    --scrollbar-track: #e5e7eb; /* bg-gray-200 */
    --scrollbar-thumb: #9ca3af; /* bg-gray-400 */
    /* --scrollbar-thumb-hover: #4b5563; bg-gray-600 */
  }

  .dark {
    --scrollbar-track: #1f2937; /* dark:bg-gray-800 */
    --scrollbar-thumb: #4a5568; /* dark:bg-gray-600 */
    --scrollbar-thumb-hover: #6b7280; /* dark:bg-gray-500 */
  }
}

body {
    margin: 0;
    padding: 0;
}

